:root{
    
}





*, *::before, *::after{
    box-sizing: border-box;
    margin: 0; padding: 0;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    font-size: clamp(1.2rem, 4vh, 1.5rem);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100vh;
    line-height: 1.4;
    background: #fff;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
}
img{
    max-width: 100%;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    
}

/* header */
.header{
    width: 100%;
    color: black;
    height: auto;
    position: fixed;
    background-color: #fff;
    padding-block: 1rem;
}

.nav{
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.nav .logo{
    font-size: clamp(3rem, 5vw, 4.5rem);
    margin-left: 2rem;
}

.nav .navLinks{
    flex: 1;
}

.nav .navLinks .hover{
    position: relative;
}

.nav .navLinks .hover::after{
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background: #E81A46;

    transition: all .5s ease;
}

.nav .navLinks .hover:hover::after{
    width: 100%;    
}

.searchIcon img{
    margin-left: 1rem;
    height: auto;
    width: 14px;

}

.btn{
    background-color: #E81A46;
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid #E81A46;
    border-radius: 50px;
    transition: all .5s ease;
}

.btn:hover{
    background-color: #fff;
}

.btn--sec{
    background: #fff;
    border: 1px solid #E81A46;
}

.btn--sec:hover{
    background-color: #E81A46;
}




/* Hero section */
.hero{
    background: url(images/BG\ Image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 13rem;
    color: #fff;
    height: auto;
    min-height: 600px;
    width: 100%;
}


.hero .container{
    padding-left: 4rem;
}

.hero .flex{
    flex-wrap: wrap;
}

.arrow{
    margin-top: 1rem;
}

.arrow img{
    border: 2px solid white;
    border-radius: 50px;
    padding: .75rem;
}

.heroText h1{
    font-size: clamp(6rem, 9vw, 9rem);
}

.heroGrid{
    margin-block: 3.5rem;
}

.heroGrid .rightGrid p{
    max-width: 24ch;
    height: auto;
    margin-bottom: .75rem;
}

.heroGrid .rightGrid a{
    font-weight: bold;
    color: #fff;   
}

.heroCard{
    background-color: white;
    color: #000;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 3rem 5rem;
    box-shadow: 0px 43px 66px rgba(0, 0, 0, 0.07);
    border-radius: 16px;
    margin-block: 3rem;
}

.heroCard .card input{
    display: inline-block;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    margin-block: 1rem;
}

.heroCard .prt1 input{
    width: 16ch;
}
.heroCard .prt2 input{
    width: 8ch;
}
.heroCard .prt3 input{
    width: 7ch;
}
.heroCard .card h4{
    text-transform: uppercase;
    
}

.heroCard .card label{
    margin-left: .5rem;
}

.heroCard .card label img{
    width: 14px;
    height: 14px;
    margin: 0;
    padding: 0;
}

.heroCard .prt4 {
    background-color: red; 
    height: 100%;
    width: 58px;
    place-content:center;
    display: grid;
    border-radius: 1rem;
}

.heroCard .prt4 img{
    display: block;
    place-items: center;  
}


@media (max-width: 775px){

    html{
        font-size: 50%;
    }

    body{
        margin: 0;
        padding: 0;
    }

    .navLinks{
        background: grey;
        position: absolute;
        width: 50%;
        height: 100vh;
        right: -100%;
        top: 0;
        flex-direction: column-reverse;
        gap: 2rem;
        font-size: 2rem;

        transition: all .5s ease-in-out;
    }

    .navLinks.isOpen{
        right: 0;
    }
    
    
    .navRight{
        flex-direction: column;
        flex:1;
        width: 100%;
    }

    .navRight ul{
        width: 100%;
        flex-basis: 100%;
        display: flex;
        border-bottom: #000;
    }

    .navRight li{
        display: flex;
        flex-basis: 100%;
    }

    .navRight a{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 100%;
    }

    .navRight a:hover{
        background-color: rgba(0, 0, 0, 0.1);
    }
    
    .nav .logo{
        display: block;
        text-align: left;
    }

    

    .navToggle{
        position: absolute;
        padding: 1em;
        top: 2rem;
        right: 1rem;
        cursor: pointer;
    }

    .hambuger, .hambuger::before, .hambuger::after{
        content: '';
        display: block;
        width: 2em;
        height: 3px;
        background-color: #E81A46;
        transition: all .25s ease-in;
    }


    .hambuger::before{
        transform: translateY(-6px);
    }
    .hambuger::after{
        transform: translateY(3px);
    }
    
    .hambuger.isOpen{
        transform: rotate(45deg);
    }
    
    .hambuger.isOpen::after{
        transform: rotate(-90deg) translateX(3px);
        

    }
    .hambuger.isOpen::before{
        opacity: 0;

    }
}